### Python libs

In [32]:
import pickle
import pandas as pd
import numpy as np
from pandas import Series,DataFrame

### Data import

#### BF attack logs

In [29]:
BF_logs_raw = pd.read_csv("./data/BF_datalab_httpd.log", header = None, delimiter = " ")
BF_temp = BF_logs_raw[[3,5,6,7,8,9,10]]
# split timestamp
BF_temp['date'] = BF_temp[3].str.split(":").str.get(0)
BF_temp['hour'] = BF_temp[3].str.split(":").str.get(1)
BF_temp['minute'] = BF_temp[3].str.split(":").str.get(2)
BF_temp['seconds'] = BF_temp[3].str.split(":").str.get(3)
# split protocol
BF_temp['protocol'] = BF_temp[5].str.split(" ").str.get(0)
# split comments
BF_temp['username'] = BF_temp[9].str.split(" ").str.get(0)
BF_temp['password'] = BF_temp[9].str.split(" ").str.get(1)
BF_temp['ip_address'] = BF_temp[9].str.split(" ").str.get(2)
BF_temp['comment'] = BF_temp[9].str.split(" ").str.get(4)
BF_temp['label'] = BF_temp[9].str.split(" ").str.get(3)
# drop innecessary columns
BF_temp = BF_temp.drop([3, 5, 8, 9], axis=1)
# rename & replace
BF_temp.rename(columns={6:'status', 7:'respsize', 10:'timed'}, inplace=True)
BF_temp['date'] = BF_temp['date'].str.replace('[', '')
BF_temp.head()

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,status,respsize,timed,date,hour,minute,seconds,protocol,username,password,ip_address,comment,label
0,200,1040,312,22/Jan/2018,15,02,01,GET,director,123456,136.133.92.208,Mozilla/5.0,1
1,200,945,14,22/Jan/2018,15,02,01,GET,director,123456,136.133.92.208,Mozilla/5.0,1
2,200,34463,9,22/Jan/2018,15,02,02,GET,director,123456,136.133.92.208,Mozilla/5.0,1
3,200,1040,2,22/Jan/2018,15,02,03,GET,administrator,123456,30.142.97.121,Mozilla/5.0,1
4,200,945,9,22/Jan/2018,15,02,04,GET,administrator,123456,30.142.97.121,Mozilla/5.0,1

In [33]:
# Save the BF logs
pickle.dump(BF_temp, open('./data/BF_logs.p', 'wb'))

#### Normal access logs

In [51]:
Normal_logs_raw = pd.read_csv("./data/datalab_httpd.log", header = None, delimiter = " ")
Normal_temp = Normal_logs_raw[[3,5,6,7,8,9,10]]
# split timestamp
Normal_temp['date'] = Normal_temp[3].str.split(":").str.get(0)
Normal_temp['hour'] = Normal_temp[3].str.split(":").str.get(1)
Normal_temp['minute'] = Normal_temp[3].str.split(":").str.get(2)
Normal_temp['seconds'] = Normal_temp[3].str.split(":").str.get(3)
# split protocol
Normal_temp['protocol'] = Normal_temp[5].str.split(" ").str.get(0)
# split comments
Normal_temp['username'] = Normal_temp[9].str.split(" ").str.get(0)
Normal_temp['password'] = Normal_temp[9].str.split(" ").str.get(2)
Normal_temp['ip_address'] = Normal_temp[9].str.split(" ").str.get(3)
Normal_temp['comment'] = Normal_temp[9].str.split(" ").str.get(5)
Normal_temp['label'] = Normal_temp[9].str.split(" ").str.get(4)
# drop innecessary columns
Normal_temp = Normal_temp.drop([3, 5, 8, 9], axis=1)
# rename & replace
Normal_temp.rename(columns={6:'status', 7:'respsize', 10:'timed'}, inplace=True)
Normal_temp['date'] = Normal_temp['date'].str.replace('[', '')
Normal_temp.head()

D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,status,respsize,timed,date,hour,minute,seconds,protocol,username,password,ip_address,comment,label
0,200,1040,20,21/Jan/2018,23,59,00,GET,12345678,michael,76.121.199.123,Mozilla/5.0,0
1,200,945,22,21/Jan/2018,23,59,01,GET,12345678,michael,76.121.199.123,Mozilla/5.0,0
2,200,34463,2435,21/Jan/2018,23,59,04,GET,12345678,michael,76.121.199.123,Mozilla/5.0,0
3,200,1073,1852,21/Jan/2018,23,59,06,POST,12345678,michael,76.121.199.123,Mozilla/5.0,0
4,304,-,2,21/Jan/2018,23,59,07,GET,12345678,michael,76.121.199.123,Mozilla/5.0,0

In [52]:
# Save the normal logs
pickle.dump(Normal_temp, open('./data/Normal_logs.p', 'wb'))

### Read data

In [55]:
BF_logs.shape, Normal_logs.shape

((64031, 13), (12000, 13))

In [53]:
BF_logs = pd.read_pickle('./data/BF_logs.p')
BF_logs.head()

,status,respsize,timed,date,hour,minute,seconds,protocol,username,password,ip_address,comment,label
0,200,1040,312,22/Jan/2018,15,02,01,GET,director,123456,136.133.92.208,Mozilla/5.0,1
1,200,945,14,22/Jan/2018,15,02,01,GET,director,123456,136.133.92.208,Mozilla/5.0,1
2,200,34463,9,22/Jan/2018,15,02,02,GET,director,123456,136.133.92.208,Mozilla/5.0,1
3,200,1040,2,22/Jan/2018,15,02,03,GET,administrator,123456,30.142.97.121,Mozilla/5.0,1
4,200,945,9,22/Jan/2018,15,02,04,GET,administrator,123456,30.142.97.121,Mozilla/5.0,1

In [54]:
Normal_logs = pd.read_pickle('./data/Normal_logs.p')
Normal_logs.head()

,status,respsize,timed,date,hour,minute,seconds,protocol,username,password,ip_address,comment,label
0,200,1040,20,21/Jan/2018,23,59,00,GET,12345678,michael,76.121.199.123,Mozilla/5.0,0
1,200,945,22,21/Jan/2018,23,59,01,GET,12345678,michael,76.121.199.123,Mozilla/5.0,0
2,200,34463,2435,21/Jan/2018,23,59,04,GET,12345678,michael,76.121.199.123,Mozilla/5.0,0
3,200,1073,1852,21/Jan/2018,23,59,06,POST,12345678,michael,76.121.199.123,Mozilla/5.0,0
4,304,-,2,21/Jan/2018,23,59,07,GET,12345678,michael,76.121.199.123,Mozilla/5.0,0