In [46]:
import pandas as pd #数据分析
import numpy as np #科学计算
from pandas import Series,DataFrame
data_logs = pd.read_csv("logst.csv")
data_logs

,Unnamed: 0,ip,date,hour,minute,seconds,request1,status,respsize,timed,attaque
0,1,192.108.116.88,15/Dec/2017,15,29,38,GET,2,1040,2,1
1,2,192.108.116.88,15/Dec/2017,15,29,38,GET,2,945,2,1
2,3,192.108.116.88,15/Dec/2017,15,29,38,GET,2,34463,2,1
3,4,192.108.116.88,15/Dec/2017,15,29,38,GET,2,21241,2,1
4,5,192.108.116.88,15/Dec/2017,15,37,0,GET,2,1040,1,1
5,6,192.108.116.88,15/Dec/2017,15,37,0,GET,2,945,2,1
6,7,192.108.116.88,15/Dec/2017,15,37,0,GET,2,34463,2,1
7,8,192.108.116.88,15/Dec/2017,15,37,1,POST,2,1073,2,1
8,9,192.108.116.88,15/Dec/2017,15,37,1,GET,1,0,2,1
9,10,192.108.116.88,15/Dec/2017,15,37,1,GET,1,0,2,1
10,11,192.108.116.88,15/Dec/2017,15,37,1,POST,2,1073,2,1
11,12,192.108.116.88,15/Dec/2017,15,37,1,GET,1,0,2,1
12,13,192.108.116.88,15/Dec/2017,15,37,1,GET,1,0,2,1
13,14,192.108.116.88,15/Dec/2017,15,37,15,GET,2,1040,1,1
14,15,192.108.116.88,15/Dec/2017,15,37,16,GET,2,945,2,1
15,16,192.108.116.88,15/Dec/2017,15,37,16,GET,2,34463,2,1
16,17,192.108.116.88,15/Dec/2017,15,37,16,POST,2,1073,2,1
17,18,192.108.116.88,15/Dec/2017,15,37,16,GET,1,0,2,1
18,19,192.108.116.88,15/Dec/2017,15,37,16,GET,1,0,2,1
19,20,192.108.116.88,15/Dec/2017,15,37,16,POST,2,1073,2,1
20,21,192.108.116.88,15/Dec/2017,15,37,16,GET,1,0,2,1
21,22,192.108.116.88,15/Dec/2017,15,37,17,GET,1,0,2,1
22,23,192.108.116.88,15/Dec/2017,15,37,19,GET,1,0,2,1
23,24,192.108.116.88,15/Dec/2017,15,37,19,GET,1,0,2,1
24,25,192.108.116.88,15/Dec/2017,15,37,19,GET,1,0,2,1
25,26,192.108.116.88,15/Dec/2017,15,37,19,POST,2,1073,2,1
26,27,192.108.116.88,15/Dec/2017,15,37,19,GET,1,0,2,1
27,28,192.108.116.88,15/Dec/2017,15,37,19,GET,1,0,2,1
28,29,192.108.116.88,15/Dec/2017,15,37,19,POST,2,1073,2,1
29,30,192.108.116.88,15/Dec/2017,15,37,19,GET,1,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
9453,9454,192.108.116.88,15/Dec/2017,15,42,13,POST,2,1073,2,1
9454,9455,192.108.116.88,15/Dec/2017,15,42,13,GET,1,0,2,1
9455,9456,192.108.116.88,15/Dec/2017,15,42,13,GET,1,0,2,1
9456,9457,192.108.116.88,15/Dec/2017,15,42,13,POST,2,1073,2,1
9457,9458,192.108.116.88,15/Dec/2017,15,42,13,GET,1,0,2,1
9458,9459,192.108.116.88,15/Dec/2017,15,42,13,GET,1,0,2,1
9459,9460,192.108.116.88,15/Dec/2017,15,42,15,GET,1,0,2,1
9460,9461,192.108.116.88,15/Dec/2017,15,42,15,GET,1,0,2,1
9461,9462,192.108.116.88,15/Dec/2017,15,42,15,GET,1,0,2,1
9462,9463,192.108.116.88,15/Dec/2017,15,42,16,POST,2,1073,2,1
9463,9464,192.108.116.88,15/Dec/2017,15,42,16,GET,1,0,2,1
9464,9465,192.108.116.88,15/Dec/2017,15,42,16,GET,1,0,2,1
9465,9466,192.108.116.88,15/Dec/2017,15,42,16,POST,2,1073,2,1
9466,9467,192.108.116.88,15/Dec/2017,15,42,16,GET,1,0,2,1
9467,9468,192.108.116.88,15/Dec/2017,15,42,16,GET,1,0,2,1
9468,9469,192.108.116.88,15/Dec/2017,15,42,18,GET,1,0,2,1
9469,9470,192.108.116.88,15/Dec/2017,15,42,18,GET,1,0,2,1
9470,9471,192.108.116.88,15/Dec/2017,15,42,18,GET,1,0,2,1
9471,9472,192.108.116.88,15/Dec/2017,15,42,19,POST,2,1073,2,1
9472,9473,192.108.116.88,15/Dec/2017,15,42,19,GET,1,0,2,1
9473,9474,192.108.116.88,15/Dec/2017,15,42,19,GET,1,0,2,1
9474,9475,192.108.116.88,15/Dec/2017,15,42,19,POST,2,1073,2,1
9475,9476,192.108.116.88,15/Dec/2017,15,42,19,GET,1,0,2,1
9476,9477,192.108.116.88,15/Dec/2017,15,42,19,GET,1,0,2,1
9477,9478,192.108.116.88,15/Dec/2017,15,42,22,GET,1,0,1,1
9478,9479,192.108.116.88,15/Dec/2017,15,42,22,GET,1,0,2,1
9479,9480,192.108.116.88,15/Dec/2017,15,42,22,GET,1,0,2,1
9480,9481,192.108.116.88,15/Dec/2017,15,42,22,POST,2,1073,2,1
9481,9482,192.108.116.88,15/Dec/2017,15,42,22,GET,1,0,2,1
9482,9483,192.108.116.88,15/Dec/2017,15,42,22,GET,1,0,2,1

In [47]:
data_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9483 entries, 0 to 9482
Data columns (total 11 columns):
Unnamed: 0    9483 non-null int64
ip            9483 non-null object
date          9483 non-null object
hour          9483 non-null int64
minute        9483 non-null int64
seconds       9483 non-null int64
request1      9483 non-null object
status        9483 non-null int64
respsize      9483 non-null int64
timed         9483 non-null int64
attaque       9483 non-null int64
dtypes: int64(8), object(3)
memory usage: 815.0+ KB

In [50]:
data_logs1=data_logs.as_matrix()
data_logs1

array([[1, '192.108.116.88', '15/Dec/2017', ..., 1040, 2, 1],
       [2, '192.108.116.88', '15/Dec/2017', ..., 945, 2, 1],
       [3, '192.108.116.88', '15/Dec/2017', ..., 34463, 2, 1],
       ...,
       [9481, '192.108.116.88', '15/Dec/2017', ..., 1073, 2, 1],
       [9482, '192.108.116.88', '15/Dec/2017', ..., 0, 2, 1],
       [9483, '192.108.116.88', '15/Dec/2017', ..., 0, 2, 1]], dtype=object)

In [57]:
train=data_logs.loc[:,['status','respsize','timed']]
train

      status  respsize  timed
0          2      1040      2
1          2       945      2
2          2     34463      2
3          2     21241      2
4          2      1040      1
5          2       945      2
6          2     34463      2
7          2      1073      2
8          1         0      2
9          1         0      2
10         2      1073      2
11         1         0      2
12         1         0      2
13         2      1040      1
14         2       945      2
15         2     34463      2
16         2      1073      2
17         1         0      2
18         1         0      2
19         2      1073      2
20         1         0      2
21         1         0      2
22         1         0      2
23         1         0      2
24         1         0      2
25         2      1073      2
26         1         0      2
27         1         0      2
28         2      1073      2
29         1         0      2
...      ...       ...    ...
9453       2      1073      2
9454       1         0      2
9455       1         0      2
9456       2      1073      2
9457       1         0      2
9458       1         0      2
9459       1         0      2
9460       1         0      2
9461       1         0      2
9462       2      1073      2
9463       1         0      2
9464       1         0      2
9465       2      1073      2
9466       1         0      2
9467       1         0      2
9468       1         0      2
9469       1         0      2
9470       1         0      2
9471       2      1073      2
9472       1         0      2
9473       1         0      2
9474       2      1073      2
9475       1         0      2
9476       1         0      2
9477       1         0      1
9478       1         0      2
9479       1         0      2
9480       2      1073      2
9481       1         0      2
9482       1         0      2

[9483 rows x 3 columns]

In [58]:
target=data_logs.attaque
target

0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
       ..
9453    1
9454    1
9455    1
9456    1
9457    1
9458    1
9459    1
9460    1
9461    1
9462    1
9463    1
9464    1
9465    1
9466    1
9467    1
9468    1
9469    1
9470    1
9471    1
9472    1
9473    1
9474    1
9475    1
9476    1
9477    1
9478    1
9479    1
9480    1
9481    1
9482    1
Name: attaque, dtype: int64

In [42]:
import matplotlib.pyplot as plt
from sklearn import cross_validation
from sklearn import tree
clf = tree.DecisionTreeClassifier()

In [84]:
cross_validation.cross_val_score(clf, X=train.values, y=target.values, cv=10)

array([ 1.       ,  1.       ,  1.       ,  0.9978903,  1.       ,
        1.       ,  1.       ,  1.       ,  1.       ,  1.       ])

In [69]:
clf = clf.fit(train.values, target.values)

In [89]:
train1=data_logs1[:,7:10]
target1=data_logs1[:,10]
X_train, X_test, y_train, y_test = cross_validation.train_test_split(train.values, target.values,test_size=0.3, random_state=0)
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
print(clf.score(X_test, y_test))

0.998594024605